@import "../../../../libs/ui/src/globals.css";
@source "../../src/**/*.{ts,tsx,js,jsx}";
@source "../../../../libs/ui/src/**/*.{ts,tsx,js,jsx}";

.main-container {
  @apply max-w-[1248px] mx-auto px-6;
}

@theme inline {
  --color-primary: #c5e57e;
  --color-secondary: #6648ff;
  --color-secondary-foreground: #ffffff;
  --font-roboto-slab: var(--font-roboto-slab);
  --font-ibm-plex: var(--font-ibm-plex);
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.bg-classroom {
  background-image: url("../../public/images/classroom-image.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
